<h1>Country Quiz</h1>
<div id="game">
  <button (click)="openQuiz()" class="button" *ngIf="!quizOpen && !showResults && !showCongrats">Lest´s play</button>
  <img *ngIf="!quizOpen && !showResults && !showCongrats" src="../assets/earth.png" alt="earth">
  <div id="quiz" *ngIf="quizOpen">
    <h2>{{quiz.questions[step-1].question}}</h2>
    <div id="options">
      <button #optionAnswer class="buttonOption" *ngFor=" let option of quiz.questions[step-1].options"
        [ngClass]="{incorrect: option.result==='no'&& click, correct: option.result==='yes'}"
        (click)="answer(option.result)">{{option.name}}</button>
    </div>
    <p>Question {{step}}/{{quiz.questions.length}}</p>
    <button class="button" (click)="closeQuiz()">Close</button>
  </div>
  <div *ngIf="showResults">
    <h2>Results</h2>
    <p>You got <span style="color: #33cc33; font-size:50px">{{correctAnswers}}</span> correct answers</p>
    <button class="button" (click)="openQuiz()">Try again</button>
    <button class="button" (click)="closeQuiz()">Close</button>
  </div>
  <div *ngIf="showCongrats">
    <h2>¡Congratulations!</h2>
    <p>All the answers are correct</p>
    <img src="../assets/earth.happy.png" alt="earth.happy">
    <button class="button" (click)="closeQuiz()">Close</button>
  </div>
</div>
